################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Healthcare System/Healthcare System/DAL/Configuration.cs
